body{
    border: 5px solid rgba(179, 21, 241, 0.932);
    Margin-top: 20px ;
    margin-left: 15px;
    margin-right:10px ;
    margin-bottom: 25px;
    margin: 1px;
    margin: auto 0;
    width: property 50%;
    padding-top: 20px ;
    padding-left:15px ; 
    padding-bottom:10px ;
    padding-right: 15px;
    padding: 20px, 15px, 25px, 18px  ;


    color:rgba( 129, 128, 128, 0.76);
    

}
.Header10{

border: 1px solid rgba(179, 21, 241, 0.932);
margin: 10px;
padding: 20px;
}

.header {
  
    border: 5px solid rgba(179, 21, 241, 0.932);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    Color:rgba(5, 3, 105, 0.685);
    text-align: center
    
    
}

.Main {

  border: 5px solid rgba(179, 21, 241, 0.932);
  margin: 10px;
padding: 20px;
}

.footer {
  border: 5px solid rgba(179, 21, 241, 0.932);
  margin: 10px;
padding: 20px;
}

.header2 {
    
    border: 5px solid rgba(179, 21, 241, 0.932);
    font-family: Geneva, Tahoma, sans-serif;
    Color:rgba(5, 3, 105, 0.685);
    text-align: center
}
.nav-menu {
    
    font-size: 20px;
    font-family: monospace;

}

li {


float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(129, 128, 128, 0.76);
  }
  
  li {
    
    display: inline ;
    float: left;
    border-right: 1px solid #bbb;
   
    
}
  
  
  li a {
    display: block;
    color: rgba(5, 3, 105, 0.685);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgba(129, 128, 128, 0.76);
  }
    
a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }

  .active {
    background-color: rgba(179, 21, 241, 0.932);
  }


.p {

    padding-left: 300px;
    Font-size: 18px;
    font : verdana, geneva, Tahoma, sans-serif rgba(5, 3, 105, 0.685 ) ver;
}



#green-background {
    
    background-color: rgb(206, 205, 205);
}

.foto {
    
    height: 200px;
    border: 5px solid rgba(179, 21, 241, 0.932);
    border-radius:15px;
    border-end-start-radius: 500px ;
    margin-top: 20px ;

}
/* about me pagina*/

.header3 {
    
    border: 10px solid rgba(5, 3, 105, 0.685);
    border-radius: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    Color:rgba(179, 21, 241, 0.932);
    text-align: center
}

.text {
  padding: 10px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgba(5, 3, 105, 0.685);
text-align: center

}